{% include "header.html" %}

<h1 class="display-4">Välkommen!</h1>
<p class="lead">På den här sidan kan ni lägga till nya event i appen och även uppdatera information om er nämnd. Här under finns det också lite bra-att-ha länkar.</p>
<hr class="my-4">
<div class="list-group">
    <a href="http://www.medieteknik.com/sites/default/files/budget_20182f2019_-_sheet1_2.pdf" class="list-group-item list-group-item-action">Aktuell budget</a>
    <a href="http://www.medieteknik.com/sites/default/files/2018-02-27_stadgar.pdf" class="list-group-item list-group-item-action">Stadgar 2018/2019</a>
    <a href="http://www.medieteknik.com/sites/default/files/2018-02-27_reglemente.pdf" class="list-group-item list-group-item-action">Reglemente 2018/2019</a>
    <a href="http://www.medieteknik.com/sites/default/files/grafiskmanual.pdf" class="list-group-item list-group-item-action">Grafisk Profil</a>
    <a href="https://docs.google.com/spreadsheets/d/1Q51TAoztNkwWPaxARX4iWpMIaahgQ6V-an5MSfaHCbk/edit?usp=sharing" class="list-group-item list-group-item-action">Kontaktuppgifter, funktionärer</a>
</div>

{% include "footer.html" %}
